h1 {
    color:goldenrod;
}
body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image:url("table.png");
    background-size:cover;
    text-align:center;
    color:white;
    font-weight:bold;
    font-size:large;
}
#message-el {
    font-style:italic;
}
button {
    color:#016f32;
    width:150px;
    background:goldenrod;
    padding-top:5px;
    padding-bottom:5px;
    font-weight:600;
    border:none;
    border-radius:2px;
}